/* id */
#about {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}

/* layout */
.about-container {
  width: 100%;
  padding: 2rem 0;
}

.about-container-small {
  width: 90%;
  padding: 2rem 0;
  margin: 0 auto;
}

/* bg */
.section-bg img {
  width: 100%;
  height: 25rem;
  object-fit: cover;
  border-radius: 0.5rem;
}

/* profile */
.profile-content {
  position: relative;
  margin-top: -4rem;
}

.profile-img {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  border: 1px solid #ebebeb;
  object-fit: cover;
}

/* icon */
.fas {
  font-size: 0.9rem;
  width: 1.5em;
  text-align: center;
  display: inline-block;
}

/* tab */
.tabs {
  display: flex;
  margin-bottom: 2rem;
  border-bottom: 1px solid #ebebeb;
}

.tab-link {
  background-color: #fff;
  font-size: 1rem;
  font-weight: bold;
  color: #aaa;
  border: none;
  border-bottom: 3px solid #fff;
  padding: 0 0.5rem 0.5rem 0.5rem;
  cursor: pointer;
  margin-right: 1rem;
  transition: background 0.3s;
}

.tab-link:hover {
  background-color: #fff;
  color: #aaa;
  border-bottom: 3px solid #aaa;
}

.tab-link.active {
  background-color: #fff;
  color: #222;
  border-bottom: 3px solid #222;
}

/* content */
.tab-content {
  display: none;
}

.tab-content.active {
  display: block;
}

.tab-content-container {
  padding: 0 1rem;
  text-align: left;
}

/* contact */
.message {
  background-color: #f7f7f7;
  padding: 4rem 1rem;
  border-radius: 0.5rem;
  text-align: center;
}
