/* about */
.about-container {
  width: 100%;
  padding: 2rem 3rem;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-content {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.about-item {
  text-align: center;
}

.about-img {
  width: 20%;
  height: auto;
  border-radius: 50%;
  margin: 0 auto;
  display: block;
}

/* tabs */
.tabs-container {
  width: 60%;
  padding: 2rem 0 8rem 0;
  margin: 0 auto;
}

.tabs {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem 0;
  border-bottom: 1px solid #ebebeb;
}

.tab-link {
  background-color: #fff;
  font-size: 1rem;
  font-weight: bold;
  color: #aaa;
  border: none;
  border-bottom: 3px solid #fff;
  padding: 0 1.5rem 1rem 1.5rem;
  cursor: pointer;
  margin-right: 1rem;
  transition: background 0.3s;
}

.tab-link:hover {
  background-color: #fff;
  color: #aaa;
  border-bottom: 3px solid #aaa;
}

.tab-link.active {
  background-color: #fff;
  color: #222;
  border-bottom: 3px solid #222;
}

.tab-content {
  display: none;
}

.tab-content.active {
  display: block;
}

.tab-content-container {
  padding: 1rem;
  text-align: left;
}

.tab-content-container ul {
  margin: 0;
  padding: 0 0 0 2rem;
}

/* icon */
.fas {
  font-size: 0.9rem;
  width: 1.5em;
  text-align: center;
  display: inline-block;
}
