.form-container {
  width: 100%;
  min-height: 100vh;
  padding: 2rem 3rem;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #cfdff1;
}

.form-content {
  width: 100%;
  max-width: 500px;
  padding: 2rem;
  background-color: #fff;
  border-radius: 0.5rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.form-content h1 {
  text-align: center;
  margin-bottom: 1.5rem;
  color: #333;
}

.form-content label {
  display: block; /* labelをブロック要素にして改行 */
  margin-bottom: 0.5rem;
  font-weight: bold;
  color: #555;
}

.form-content input[type='text'],
.form-content input[type='email'],
.form-content textarea {
  width: calc(100% - 12px);
  padding: 0.5rem;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 1rem;
}

.form-content textarea {
  min-height: 10rem;
  resize: none;
}

.form-content button[type='submit'] {
  background-color: #007bff;
  color: #fff;
  font-weight: bold;
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease;
  width: 100%;
}

.form-content button[type='submit']:hover {
  background-color: #0056b3;
}
