/* id */
#top {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

/* layout */
.top-container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* hero */
.top-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  align-items: center;
}

.top-grid-item {
  width: 100%;
}

.top-grid-item img {
  width: 70%;
  height: auto;
  border-radius: 50%;
  border: 1px solid #ebebeb;
  margin: 0 auto;
  display: block;
}
