/* id */
#top {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

/* layout */
.container {
  width: 100%;
  padding: 6rem 0;
}

/* hero */
.hero-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  align-items: center;
}

.hero-grid-item {
  width: 100%;
}

.hero-grid-item img {
  width: 100%;
  height: auto;
  border-radius: 0.5rem;
  display: block;
}

/* skills */
.skills-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 1rem;
}

.skills-grid-item {
  background-color: #fff;
  border: 1px solid #ebebeb;
  padding: 2rem 2rem 2rem 2rem;
  text-align: left;
  border-radius: 0.5rem;
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
}

.skills-grid-item:hover {
  transform: translateY(-5px);
}

.bg-plan:hover {
  background: #a156c1;
  transition: background 0.3s ease, transform 0.2s ease;
}

.bg-ux:hover {
  background: #29b463;
  transition: background 0.3s ease, transform 0.2s ease;
}

.bg-ui:hover {
  background: #da627d;
  transition: background 0.3s ease, transform 0.2s ease;
}

.bg-mvp:hover {
  background: #2e4cdf;
  transition: background 0.3s ease, transform 0.2s ease;
}

.bg-marketing:hover {
  background: rgb(241, 155, 51);
  transition: background 0.3s ease, transform 0.2s ease;
}

.bg-other:hover {
  background: #64ccc9;
  transition: background 0.3s ease, transform 0.2s ease;
}
