/* top & services */
.hero-title {
  font-size: var(--title-h1);
  color: var(--color-black-primary);
  font-weight: var(--weight-normal);
  letter-spacing: var(--letter-spacing-title);
  margin-top: var(--spacing-300);
}

.hero-desc {
  font-size: var(--text-big);
  color: var(--color-black-primary);
  font-weight: var(--weight-normal);
  letter-spacing: var(--letter-spacing-desc);
  line-height: 1.7;
  margin: var(--spacing-100) 0;
}

/* about */
.about-title {
  font-size: var(--title-h2);
  color: var(--color-black);
  font-weight: var(--weight-normal);
  letter-spacing: var(--letter-spacing-tight);
  margin-top: var(--spacing-100);
}

.about-desc {
  font-size: var(--text-big);
  font-weight: var(--weight-normal);
  color: var(--color-black-secondary);
  letter-spacing: var(--letter-spacing-normal);
  line-height: 1.7;
  margin-top: var(--spacing-100);
}

/* about > tab > content */
.tab-content-container h2 {
  font-size: 22px;
  color: var(--color-black);
  font-weight: var(--weight-normal);
  letter-spacing: var(--letter-spacing-tight);
  margin-top: 2rem;
}

.tab-content-container h3 {
  font-size: 20px;
  color: var(--color-black-primary);
  font-weight: var(--weight-normal);
  letter-spacing: var(--letter-spacing-tight);
  margin-top: var(--spacing-100);
}

.tab-content-container p {
  font-size: 16px;
  color: var(--color-black-primary);
  font-weight: var(--weight-normal);
  letter-spacing: var(--letter-spacing-normal);
  line-height: normal;
  margin-top: var(--spacing-50);
}

.tab-content-container li {
  font-size: var(--text-big);
  color: var(--color-black-primary);
  font-weight: var(--weight-normal);
  letter-spacing: var(--letter-spacing-normal);
  line-height: 1.7;
  margin-top: var(--spacing-50);
}

/* services */
.section-title {
  font-size: var(--title-h2);
  color: var(--color-black-primary);
  font-weight: var(--weight-normal);
  letter-spacing: var(--letter-spacing-tight);
  margin-bottom: 0.5rem;
}

.section-desc {
  font-size: var(--text-normal);
  color: var(--color-gray-primary);
  font-weight: var(--weight-normal);
  letter-spacing: var(--letter-spacing-desc);
  line-height: 1.7;
  margin-bottom: 0.5rem;
}

.services-grid-item h3 {
  font-size: var(--title-h4);
  color: var(--color-black);
  font-weight: var(--weight-normal);
  letter-spacing: var(--letter-spacing-tight);
  margin-bottom: 0.5rem;
}

.services-grid-item p {
  font-size: var(--text-normal);
  color: var(--color-gray-primary);
  font-weight: var(--weight-normal);
  letter-spacing: var(--letter-spacing-normal);
  line-height: 1.7;
}

/* add-contact & contact*/
.contact-title {
  font-size: var(--title-h2);
  color: var(--black-primary);
  font-weight: var(--weight-normal);
  letter-spacing: var(--letter-spacing-tight);
  text-align: center;
  margin-bottom: 1rem;
}

.contact-desc {
  font-size: var(--text-normal);
  color: var(--color-black-primary);
  font-weight: var(--weight-normal);
  letter-spacing: var(--letter-spacing-normal);
  text-align: center;
  margin-bottom: 1rem;
}
