<div class="add-contact-container">
  <div class="add-contact-content">
    <div class="alert-message tag-primary">
      <span class="alert-text">サポート窓口</span>
    </div>
    <h2 class="contact-title">お問い合わせ</h2>
    <p class="contact-desc">まずはお気軽にお問い合わせください。</p>
    <button class="btn-primary"><a href="{{ '/contact/' | url }}">無料で相談する</a></button>
  </div>
</div>
