<div class="add-contact-container">
  <div class="add-contact-content">
    <h2 class="contact-title">Contact</h2>
    <p class="contact-desc">お気軽にお問い合わせください。</p>
    <button class="btn-primary"><a href="{{ '/contact/' | url }}">メッセージを送信</a></button>
  </div>
</div>
