<div class="add-contact-container">
  <div class="add-contact-content">
    <h2 class="contact-title">お問い合わせ</h2>
    <p class="contact-desc">いつでもお気軽にご連絡ください。</p>
    <button class="btn-primary"><a href="{{ '/contact/' | url }}">お問い合わせ</a></button>
  </div>
</div>
