<div class="form-container">
  <div class="form-content">
    <h1>お問い合わせ</h1>
    <p>
      あなたのプロジェクトにアサインできます。per-pjと一緒に働きませんか？アイデアを実現させましょう。まずはお気軽にご連絡ください。
    </p>
    <form action="https://formspree.io/f/mzzelpwq" method="POST">
      <label>
        お名前
        <input type="text" name="name" />
      </label>
      <label>
        メールアドレス
        <input type="email" name="email" />
      </label>
      <label>
        メッセージ
        <textarea name="message"></textarea>
      </label>
      <button type="submit">送信</button>
    </form>
  </div>
</div>
