{# src/includes/footer.njk #}
<footer class="footer">
  <nav aria-label="主要なリンク">
    <ul class="footer-menu">
      <li><a href="{{ pathPrefix }}">経験</a></li>
      <li><a href="{{ pathPrefix }}about/">私について</a></li>
      <li><a href="{{ pathPrefix }}services/">サービス</a></li>
      <li><a href="https://sizu.me/per_pj/" target="_blank">ブログ</a></li>
      <li><a href="{{ pathPrefix }}contact/">お問い合わせ</a></li>
    </ul>
  </nav>
  <div class="social-links">
    <a href="https://www.behance.net/per-pj" target="_blank"><img src="{{ pathPrefix }}assets/img/behance.svg" alt="Behance"></a>
    <a href="https://github.com/per-pj"       target="_blank"><img src="{{ pathPrefix }}assets/img/github.svg"   alt="GitHub"></a>
    <a href="https://linktr.ee/per_pj"         target="_blank"><img src="{{ pathPrefix }}assets/img/linktree.svg" alt="Linktree"></a>
  </div>
  <p class="copyright">&copy; 2025 per-pj All Rights Reserved.</p>
</footer>
