{# src/includes/footer.njk #}
<footer class="footer">
 <div class="footer-flex">
  <nav class="footer-item" aria-label="主要なリンク">
    <ul class="footer-menu">
      <li><a href="{{ '/' | url }}">経験</a></li>
      <li><a href="{{ '/about/' | url }}">私について</a></li>
      <li><a href="{{ '/services/' | url }}">サービス</a></li>
      <li><a href="https://sizu.me/per_pj/" target="_blank">ブログ</a></li>
      <li><a href="{{ '/contact/' | url }}">お問い合わせ</a></li>
    </ul>
  </nav>
  <div class="footer-item social-links">
    <a href="https://www.behance.net/per-pj" target="_blank">
      <img class="social-link"　src="{{ '/assets/img/behance.svg' | url }}" alt="Behance">
    </a>
    <a href="https://github.com/per-pj" target="_blank">
      <img class="social-link" src="{{ '/assets/img/github.svg' | url }}" alt="GitHub">
    </a>
    <a href="https://linktr.ee/per_pj" target="_blank">
      <img class="social-link" src="{{ '/assets/img/linktree.svg' | url }}" alt="Linktree">
    </a>
  </div>
  <p class="copyright">&copy; 2025 per-pj All Rights Reserved.</p>
</footer>
