{# src/includes/footer.njk #}
<footer class="footer">
 <div class="footer-flex">
  <nav class="footer-item" aria-label="主要なリンク">
    <ul class="footer-menu">
      <li><a href="{{ '/about/' | url }}">私について</a></li>
      <li><a href="{{ '/services/' | url }}">できること</a></li>
      <li><a href="{{ '/works/' | url }}">作品</a></li>
      <li><a href="{{ '/contact/' | url }}">お問い合わせ</a></li>
    </ul>
  </nav>
 </div>
 <p class="copyright">&copy; 2026 Kazu All Rights Reserved.</p>
</footer>
