{# src/includes/header.njk #}
<header class="header">
  <div class="logo">
    <a href="{{ '/' | url }}" class="logo-text" aria-label="Home">per-pj</a>
  </div>

  <button class="toggle-menu">
    <span></span>
    <span></span>
    <span></span>
  </button>

  <nav class="nav">
    <ul class="nav-menu">
      <li><a href="{{ '/about/' | url }}">プロフィール</a></li>
      <li><a href="{{ '/works/' | url }}">ポートフォリオ</a></li>
      <li><a href="{{ '/blog/' | url }}">ブログ</a></li>
      <li><a href="{{ '/contact/' | url }}">お問い合わせ</a></li>
    </ul>
  </nav>
</header>
