<div class="picks">
  <div class="picks-grid">
    <div class="picks-grid-item">
      <img src="/assets/img/school.jpg" alt="青い空と海" class="picks-grid-img" />
      <span class="tag">教育機関向け</span>
      <span class="tag">スポーツ</span>
      <h2 class="picks-title">部活動の顧問の外部委託サービス</h2>
      <p class="picks-desc">
        顧問の負担を軽減するため外部の指導者に指導を委託できます。
      </p>
    </div>
    <div class="picks-grid-item">
      <img src="/assets/img/sports.jpg" alt="青い空と海" class="picks-grid-img" />
      <span class="tag">シェアリングエコノミー</span>
      <span class="tag">スポーツ</span>
      <h2 class="picks-title">
        個人練習にスポーツの指導者を呼べるプラットフォーム
      </h2>
      <p class="picks-desc">
        元プロスポーツ選手など経験豊富な指導者からマンツーマンの指導を受けることができます。
      </p>
    </div>
    <div class="picks-grid-item">
      <img src="/assets/img/video.jpg" alt="青い空と海" class="picks-grid-img" />
      <span class="tag">マーケットプレイス</span>
      <span class="tag">CtoC</span>
      <h2 class="picks-title">ビデオ通話に特化したスキル販売サービス</h2>
      <p class="picks-desc">
        スマホひとつであなたのスキルを販売することができます。
      </p>
    </div>
    <div class="picks-grid-item">
      <img src="/assets/img/job.jpg" alt="青い空と海" class="picks-grid-img" />
      <span class="tag">人材</span>
      <h2 class="picks-title">
        業務委託案件に特化したフリーランス向けマッチングアプリ
      </h2>
      <p class="picks-desc">
        隙間時間にサクサク案件を探すことができるマッチングアプリ。
      </p>
    </div>
    <div class="picks-grid-item">
      <img src="/assets/img/qa.jpg" alt="青い空と海" class="picks-grid-img" />
      <span class="tag">Q&A</span>
      <span class="tag">コミュニティ</span>
      <h2 class="picks-title">ショート動画有料Q&Aアプリ</h2>
      <p class="picks-desc">
        ユーザーに質問したり、質問に対する回答を有料で販売することができます。
      </p>
    </div>
    <div class="picks-grid-item">
      <img src="/assets/img/voicechat.jpg" alt="青い空と海" class="picks-grid-img" />
      <span class="tag">コミュニケーション</span>
      <span class="tag">toC</span>
      <h2 class="picks-title">ティーン向けボイスチャットアプリ</h2>
      <p class="picks-desc">
        音声でのやりとりに特化したコミュニケーションアプリ。
      </p>
    </div>
    <div class="picks-grid-item">
      <img src="/assets/img/ad.jpg" alt="青い空と海" class="picks-grid-img" />
      <span class="tag">インフルエンサー</span>
      <h2 class="picks-title">
        インスタグラマーと企業をつなぐプラットフォーム
      </h2>
      <p class="picks-desc">
        インフルエンサーを活用したい企業に対して最適なインフルエンサーをアサイン。
      </p>
    </div>
    <div class="picks-grid-item">
      <img src="/assets/img/data.jpg" alt="青い空と海" class="picks-grid-img" />
      <span class="tag">BtoB</span>
      <h2 class="picks-title">センサーデータの販売プラットフォーム</h2>
      <p class="picks-desc">
        IoTサービス開発、ハードウェア開発におけるデータ不足を解消。
      </p>
    </div>
    <div class="picks-grid-item">
      <img src="/assets/img/wallet.jpg" alt="青い空と海" class="picks-grid-img" />
      <span class="tag">フィンテック</span>
      <h2 class="picks-title">友人と共通のウォレットを持てるアプリ</h2>
      <p class="picks-desc">
        仲の良いグループで共通のウォレットを作成し、毎月指定の金額をプール。決済に利用できます。
      </p>
    </div>
    <div class="picks-grid-item">
      <img src="/assets/img/event.jpg" alt="青い空と海" class="picks-grid-img" />
      <span class="tag">体験</span>
      <span class="tag">コミュニティ</span>
      <span class="tag">オフライン</span>
      <h2 class="picks-title">リアル店舗型イベントプラットフォーム</h2>
      <p class="picks-desc">
        誰でも気軽にイベントを開催できるイベントスペースと会員専用アプリ。
      </p>
    </div>
    <div class="picks-grid-item">
      <img src="/assets/img/food.jpg" alt="青い空と海" class="picks-grid-img" />
      <span class="tag">健康</span>
      <span class="tag">オフライン</span>
      <h2 class="picks-title">健康的な食事に特化した社食のアウトソーシング</h2>
      <p class="picks-desc">
        福利厚生として健康的な食事を社員の皆様に提供するシェア社食サービス。
      </p>
    </div>
    <div class="picks-grid-item">
      <img src="/assets/img/place.jpg" alt="青い空と海" class="picks-grid-img" />
      <span class="tag">賃貸</span>
      <span class="tag">不動産</span>
      <h2 class="picks-title">
        フリーランス向けコワーキングスペース付きのシェアハウス
      </h2>
      <p class="picks-desc">
        コロナ禍の孤立の解消を目指す新しいライフスタイルの提案。
      </p>
    </div>
  </div>
</div>
