      <h4>デザイン</h4>
      <ul>
        <li><p>Figma, Sketch, Illustrator, Photoshopなど</p></li>
      </ul>
      
      <h4>開発</h4>
      <ul>
        <li>
          <p>
            VSCode, Github, Sourcetree, Netlify, microCMS, Cloudflare,
            Firebaseなど
          </p>
        </li>
      </ul>

      <h4>分析</h4>
      <ul>
        <li><p>GoogleAnalyticsなど</p></li>
      </ul>

      <h4>生成AI</h4>
      <ul>
        <li>
          <p>ChatGPT, Copilot, Gemini, Claude, Perplexity, Gensparkなど</p>
        </li>
      </ul>

      <h4>作業</h4>
      <ul>
        <li>
          <p>
            Googleカレンダー, Notion, Googleドライブ, Trello, Todoist, Asana,
            Craft, NotebookLMなど
          </p>
        </li>
      </ul>

      <h4>コミュニケーション</h4>
      <ul>
        <li><p>Gmail, Slack, Teams, Google Meet, Discordなど</p></li>
      </ul>

      <h4>その他</h4>
      <ul>
        <li><p>WordPress, Elementor, Bubble, Studio, formrunなど</p></li>
      </ul>