      <h4>略歴</h4>
      <ul>
        <li>
          <p>大手やスタートアップなど数社でインターンを経験</p>
        </li>
        <li>
          <p>
            リクルートホールディングスの新規事業開発インターンでチームリーダーを担当し、優秀賞を獲得
          </p>
        </li>
        <li>
          <p>2016年4月にスタートアップを創業</p>
        </li>
        <li>
          <p>
            新規事業開発、プロダクトデザインを中心に様々な業務を横断的に経験
          </p>
        </li>
        <li>
          <p>現在、フリーランスのプロダクトデザイナーとしても働いています</p>
        </li>
      </ul>

      <h4>最近頑張っていること</h4>
      <ul>
        <li>
          <p>Typescript, React, Next.js, Node.jsの学習</p>
        </li>
        <li>
          <p>Pythonの学習</p>
        </li>
      </ul>

      <h4>ちょっとだけユニークな経験</h4>
      <ul>
        <li>
          <p>
            100台以上の車にヒッチハイクで搭乗したことがある。
          </p>
        </li>
        <li>
          <p>
            DAWソフトを用いた作曲・編曲ができるので、簡単なBGMなど作成できます。
          </p>
        </li>
      </ul>
      
      <h4>メッセージ</h4>
      <ul>
        <li>
          <p>
            企画・開発・運営を行なっていた自社サービスの一部を<a
              href="index.html"
              >こちら</a
            >に掲載しています。ぜひお気軽にご覧ください。per-pjをプロジェクトにアサインしてみませんか。お問い合わせをお待ちしております。
          </p>
        </li>
      </ul>