      <h4>新規事業</h4>
      <ul>
        <li>
          <p>新規事業立ち上げ</p>
        </li>
        <li>
          <p>市場調査、競合調査</p>
        </li>
        <li>
          <p>ユーザーインタビューによる定量・定性調査</p>
        </li>
        <li>
          <p>有識者に対するヒアリング実施</p>
        </li>
        <li>
          <p>プロトタイピングおよびテストマーケティングなど</p>
        </li>
      </ul>

      <h4>デザイン</h4>
      <ul>
        <li>
          <p>
            Figmaを用いたWebサービス、モバイルアプリのUI/UX設計およびデザイン
          </p>
        </li>
        <li>
          <p>Figma, Illustratorなどを用いた簡易的なロゴデザイン</p>
        </li>
        <li>
          <p>Figma, Illustrator, Photoshopを用いた簡易的な広告デザイン</p>
        </li>
        <li>
          <p>Figma, Googleスライド, Keynoteを用いた資料作成</p>
        </li>
      </ul>

      <h4>フロントエンド</h4>
      <ul>
        <li>
          <p>
            HTML,
            CSSを用いたフロントエンドのデザイン・レスポンシブ対応・アニメーションの実装
          </p>
        </li>
        <li>
          <p>Bootstrap, Tailwind CSSなどのフレームワークを用いた開発</p>
        </li>
        <li>
          <p>
            ジュニアレベル：Javascriptを用いたサービス開発、アニメーションの実装
          </p>
        </li>
        <li>
          <p>初心者レベル：Reactを用いた開発</p>
        </li>
      </ul>

      <h4>バックエンド</h4>
      <ul>
        <li>
          <p>初心者レベル：Node.jsを用いたAPI実装</p>
        </li>
      </ul>

      <h4>マーケティング</h4>
      <ul>
        <li>
          <p>
            小規模予算：SNSアカウント運用、Google広告運用、SNS広告運用、
            オウンドメディア記事作成、イベント企画および運営
          </p>
        </li>
        <li>
          <p>小規模アクセス：ABテストの実施によるクリエイティブの改善</p>
        </li>
      </ul>

      <h4>営業</h4>
      <ul>
        <li>
          <p>
            インフルエンサーマーケティング事業の営業戦略立案、営業目標管理、営業リスト作成、営業経験あり
          </p>
        </li>
        <li><p>営業資料の作成</p></li>
      </ul>

      <h4>資金調達</h4>
      <ul>
        <li><p>国内有力VCおよび個人投資家に対するピッチ経験多数</p></li>
        <li><p>ピッチ資料、事業計画書の作成</p></li>
      </ul>

      <h4>アライアンス</h4>
      <ul>
        <li>
          <p>
            大手広告代理店、プロスポーツ球団、プロリーグ、スポーツ系マネジメント事務所との交渉経験あり
          </p>
        </li>
        <li><p>提案企画、提案資料の作成</p></li>
      </ul>
      
      <h4>その他</h4>
      <ul>
        <li><p>小規模人数：採用設計、リファラル採用など</p></li>
      </ul>