body {
  margin: 0;
  padding: 4rem 0 0 0;
  font-family: 'Open Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Oxygen, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  background-color: var(--color-white-primary);
  font-size: 1rem;
  color: var(--color-black-primary);
  font-weight: var(--weight-normal);
  letter-spacing: 0.05em;
  line-height: normal;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  /* layout */
  --spacing-sides: var(--spacing-300);
  --spacing-sides-responsive: var(--spacing-100);
  /* space */
  --spacing-400: 4rem;
  --spacing-300: 3rem;
  --spacing-200: 2rem;
  --spacing-150: 1.5rem;
  --spacing-100: 1rem;
  --spacing-50: 0.5rem;
  /* color */
  --color-white-primary: #fafaf3;
  --color-white-secondary: #ffffff;
  --color-black-primary: #222;
  --color-black-secondary: #333;
  --color-copyright: #999;
  --color-border: #e7e7e7;
  --color-tag-primary: #fcc05f;
  /* border-radium */
  --border-radius-large: 2rem;
  --border-radius-normal: 0.5rem;
  --border-radius-small: 0.3rem;
  /* weight */
  --weight-bold: 700;
  --weight-normal: 400;
  /* letter-spacing */
  --letter-spacing-normal: 0.03px;
  --letter-spacing-tight: -1.4px;
  /* title */
  --title-h1: 3rem;
  --title-h2: 2.3rem;
  --title-h3: 2rem;
  --title-h4: 1.3rem;
  /* text */
  --text-xLarge: 1.6rem;
  --text-large: 1.2rem;
  --text-big: 1.1rem;
  --text-normal: 1rem;
  --text-small: 0.9rem;
  --text-xSmall: 0.8rem;
}
