/* top, solution */
.hero-title {
  font-size: var(--title-lg);
  font-weight: var(--weight-bold);
  color: var(--color-black);
  letter-spacing: 0.02em;
  margin-bottom: var(--space-sm);
}

.hero-desc {
  font-size: var(--text-md);
  font-weight: var(--weight-normal);
  color: var(--color-gray);
  letter-spacing: 0.03em;
  line-height: 1.7;
  margin-bottom: var(--space-sm);
}

/* about */
.about-title {
  font-size: var(--title-md);
  font-weight: var(--weight-bold);
  color: var(--color-black);
  letter-spacing: 0.02em;
  margin: var(--space-md);
}

.about-desc {
  font-size: var(--text-md);
  font-weight: var(--weight-normal);
  color: var(--color-gray);
  letter-spacing: 0.03em;
  line-height: 1.7;
  margin-bottom: var(--space-sm);
}

/* tab content */
.tab-content-container h2 {
  font-size: var(--title-sm);
  font-weight: var(--weight-bold);
  color: var(--color-black);
  letter-spacing: 0.01em;
  margin-top: 2rem;
}

.tab-content-container h3 {
  font-size: var(--text-lg);
  font-weight: var(--weight-bold);
  color: var(--color-black);
  letter-spacing: 0.02em;
  margin-top: 1rem;
}

.tab-content-container p {
  font-size: var(--text-md);
  font-weight: var(--weight-normal);
  color: var(--color-black);
  letter-spacing: 0;
  line-height: 1.7;
  margin-top: 0.5rem;
}

.tab-content-container li {
  font-size: var(--text-md);
  font-weight: var(--weight-normal);
  color: var(--color-black);
  letter-spacing: 0;
  line-height: 1.7;
  margin-top: 1rem;
}

/* services */
.section-title {
  font-size: var(--title-md);
  font-weight: var(--weight-bold);
  color: var(--color-black);
  letter-spacing: 0.02em;
  margin-bottom: 0.5rem;
}

.section-desc {
  font-size: var(--text-md);
  font-weight: var(--weight-normal);
  color: var(--color-gray);
  letter-spacing: 0.03em;
  line-height: 1.7;
  margin-bottom: 0.5rem;
}

.services-grid-item h3 {
  font-size: var(--title-sm);
  font-weight: var(--weight-bold);
  color: var(--color-black);
  letter-spacing: 0.02em;
  margin-bottom: 0.5rem;
}

.services-grid-item p {
  font-size: var(--text-sm);
  font-weight: var(--weight-normal);
  color: var(--color-gray);
  letter-spacing: 0.05em;
  line-height: 1.7;
}
