---
layout: layouts/base.njk
---

<section class="post-detail-hero-container">
  <div class="post-detail-hero-content">
    <div class="post-detail-hero-tags">
      {% for tag in tags %}{% if tag != "blog" %}
        <span class="tag-large">{{ tag }}</span>
      {% endif %}{% endfor %}
    </div>
    <h1 class="post-detail-hero-title">{{ title }}</h1>
    <p class="post-detail-hero-desc">{{ description }}</p>
    <img src="{{ thumbnail | url }}" alt="{{ title }}" class="post-detail-hero-img" />
  </div>
</section>

<section class="post-detail-content-container">
  <div class="post-detail-content">
    {{ content | safe }}
  </div>
</section>


