---
layout: layouts/base.njk
---

<section class="post-detail-hero-container">
  <div class="post-detail-hero-content">
    <div class="post-detail-hero-tags">
      {% for tag in tags %}{% if tag != "work" %}
        <span class="tag-large">{{ tag }}</span>
      {% endif %}{% endfor %}
    </div>
    <h1 class="post-detail-hero-title">{{ title }}</h1>
    <p class="post-detail-hero-desc">{{ description }}</p>
    <p class="share-link-text copy-trigger">URLをコピー</p>
    <img src="{{ thumbnail | url }}" alt="{{ title }}" class="post-detail-hero-img" />
  </div>
</section>

<section class="post-detail-content-container">
  <div class="post-detail-content">
    {{ content | safe }}
  </div>
</section>

<section class="container-primary">
  <p class="share-link-text copy-trigger">URLをコピー</p>
</section>

<section class="credit-container">
  <div class="credit-content">
    <div class="credit-info">
      <img
        src="{{ '/assets/img/profile.jpg' | url }}"
        alt="プロフィール用のイラスト画像"
      />
      <div class="credit-details">
        <h3>sk335_</h3>
        <p>Kommon CEO</p>
      </div>
    </div>
    <button class="btn-primary">
      <a href="#">お問い合わせ</a>
    </button>
  </div>
</section>

{% set recommendedSlugs = recommended or [] %}
{% set filteredItems = [] %}

{% for p in collections.works %}
  {% if p.data.slug in recommendedSlugs %}
    {% set filteredItems = filteredItems.concat([p]) %}
  {% endif %}
{% endfor %}

{% set recommendedItems = filteredItems.slice(0, 6) %}

{% if recommendedItems.length %}
  <section class="recommended">
    <h2 class="recommended-section-title">関連記事</h2>
    <div class="scrollbar">
      {% for item in recommendedItems %}
        {% include "layouts/recommended-detail.njk" %}
      {% endfor %}
    </div>
  </section>
{% endif %}



