---
layout: layouts/base.njk
title: sk335_ | Contact
meta_description: sk335_ のポートフォリオサイトのお問い合わせページです。
---

<div class="form-container">
  <div class="form-content">
    <h2 class="form-title">お問い合わせ</h2>
    <p class="form-desc">いつでもお気軽にご連絡ください。</p>
    <form action="https://formspree.io/f/mzzelpwq" method="POST">
      <label>
        お名前
        <input type="text" name="name" />
      </label>
      <label>
        メールアドレス
        <input type="email" name="email" />
      </label>
      <label>
        メッセージ
        <textarea name="message"></textarea>
      </label>
      <button type="submit">送信</button>
    </form>
  </div>
</div>
