/* layout */
.add-contact-container {
  width: 100%;
  padding: var(--space-300);
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

.add-contact-content {
  width: 100%;
  background: var(--color-bg-primary);
  padding: 6.5rem 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  border-radius: 6px;
}

/* text */
.contact-title {
  font-size: 2.6rem;
  font-weight: var(--font-weight-regular);
  color: var(--color-text-primary);
  text-align: center;
  margin-bottom: 1rem;
}

.contact-desc {
  font-size: 16px;
  color: var(--color-text-secondary);
  text-align: center;
  margin-bottom: 1rem;
}
