/* primary */
.btn-primary {
  background-color: #fff;
  padding: 0.8rem 1.8rem;
  border-radius: var(--border-radius-btn);
  border: none;
  cursor: pointer;
  transition: transform 0.1s ease, background-color 0.1s ease;
  margin-top: 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.btn-primary:hover {
  background-color: #dfdfdf;
  transform: scale(1.1);
}

.btn-primary a {
  font-size: 1rem;
  color: var(--color-black);
  font-weight: var(--weight-normal);
  letter-spacing: normal;
  text-decoration: none;
}

#load-more-button {
  background-color: var(--color-bg-primary);
  padding: 0.8rem 1.5rem;
  font-size: 1rem;
  font-weight: var(--text-normal);
  color: var(--color-black);
  border: 2px solid var(--color-black);
  border-radius: var(--border-radius-btn);
  cursor: pointer;
}

/* === back-to-top === */
#back-to-top {
  width: 4rem;
  height: 4rem;
  padding: 1rem;
  border-radius: 50%;
  background-color: #fff;
  font-size: 1rem;
  color: #000;
  line-height: 1;
  display: none;
  text-align: center;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 999;
  border: none;
  outline: none;
  cursor: pointer;
  transition: background-color 0.1s ease;
}

#back-to-top:hover {
  background-color: #dfdfdf;
}
