/* primary */
.btn-primary {
  background-color: var(--color-btn-bg);
  padding: 0.9rem 1.6rem;
  border-radius: 0.5rem;
  border: none;
  cursor: pointer;
  transition: transform 0.15s ease, background-color 0.15s ease;
  margin-top: 1rem;
}

.btn-primary:hover {
  transform: scale(1.03);
  background-color: var(--color-btn-bg-hover);
}

.btn-primary a {
  text-decoration: none;
  color: var(--color-btn-text);
  font-weight: 400;
  font-size: 1rem;
  letter-spacing: 0.03em;
}

/* === back-to-top === */
#back-to-top {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 999;
  border: none;
  outline: none;
  background-color: var(--color-btn-bg);
  color: var(--color-btn-text);
  cursor: pointer;
  padding: 1rem;
  border-radius: 50%;
  font-size: 1rem;
  line-height: 1;
  width: 4rem;
  height: 4rem;
  text-align: center;
  transition: background-color 0.15s ease;
}

#back-to-top:hover {
  background-color: var(--color-btn-bg-hover);
}
