/* layout */
.recommended {
  padding: var(--layout-padding-inline);
  background-color: var(--color-bg-primary);
}

.recommended-item {
  color: inherit;
  gap: 0.5rem;
  display: flex;
  flex-direction: column;
  text-align: left;
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
  text-decoration: none;
  margin-bottom: 3rem;
}

.recommended-image {
  width: 100%;
  height: auto;
  display: block;
  margin-bottom: 0;
  border-radius: var(--radius-md);
}

.recommended-content {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

/* text */
.recommended-section-title {
  font-size: var(--font-size-heading-2);
  font-weight: var(--font-weight-regular);
  color: var(--color-text-primary);
  margin-bottom: 1rem;
}

.recommended-title,
.recommended-desc {
  text-decoration: none;
  border-bottom: none;
}

.recommended-title {
  font-size: 1.5rem;
  font-weight: var(--font-weight-regular);
  margin: 0.5rem 0 0 0;
}

.recommended-desc {
  font-size: 1rem;
  margin: 0;
}

/* tag */
.recommended-tag {
  background-color: transparent;
  padding: 0.5rem;
  border-radius: var(--radius-md);
  font-size: 0.8rem;
  color: var(--color-text-primary);
  font-weight: var(--font-weight-medium);
}

/* responsive */
@media (max-width: 768px) {
  .recommended {
    padding: 2rem 1rem;
  }

  .recommended-section-title {
    font-size: 2rem;
  }

  .recommended-title {
    font-size: 1.5rem;
  }

  .recommended-desc {
    font-size: 0.8rem;
  }
}
