.footer {
  width: 100%;
  padding: 2rem 3rem;
  box-sizing: border-box;
  margin: 0;
  background-color: #f8f8f8;
  border-top: 1px solid #ebebeb;
}

.footer-flex {
  width: 100%;
  height: auto;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.footer-item {
  display: flex;
  align-items: center;
}

.footer-item nav {
  padding: 0;
  margin: 0;
}

.footer-menu {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.footer-menu li a {
  text-decoration: none;
  color: #222;
  font-size: 0.9rem;
  letter-spacing: 0.01em;
  margin: 0 1rem 0 0;
  display: block;
}

.social-links {
  display: flex;
  align-items: center;
  text-align: left;
}

.social-link {
  width: 1.5rem;
  height: auto;
  margin: 0 1rem 0 0;
}

.copyright {
  color: #222;
  font-size: 0.8rem;
  letter-spacing: 0.01em;
  border-top: 1px solid #ebebeb;
  padding-top: 2rem;
  margin-top: 2rem;
}

@media (max-width: 767px) {
  .footer-flex {
    flex-direction: column;
  }
}
