/* プロフィールセクション */
.about-content {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.about-item {
  padding: 0;
  margin: 0;
  text-align: center;
}

.about-img {
  width: 25%;
  height: auto;
  border-radius: 50%;
  border: 1px solid var(--color-border);
  display: block;
  margin: 0 auto;
}

/* ユーザーネーム */
.about-title {
  font-size: 2rem;
  font-weight: var(--weight-normal);
  margin-top: 1rem;
}

/* プロフィールテキスト */
.about-desc {
  font-size: 1.1rem;
  margin: 1.5rem 0;
}

/* タブセクション全体のコンテナ */
.tabs-container {
  width: 55%;
  padding: 0;
  margin: 0 auto;
}

/* タブメニュー */
.tabs {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem 0;
  border-bottom: 1px solid var(--color-border);
}

.tab-link {
  background-color: inherit;
  font-size: 1.1rem;
  color: #999;
  font-weight: var(--text-bold);
  border: none;
  border-bottom: 3px solid #222;
  padding: 1rem;
  margin: 0 0.6rem;
  cursor: pointer;
  transition: all 0.3s ease;
}

.tab-link:hover {
  color: #fff;
}

.tab-link.active {
  background-color: inherit;
  color: #fff;
  border-bottom: 3px solid #fff;
}

/* タブの切り替え */
.tab-content {
  display: none;
}

.tab-content.active {
  display: block;
}

/* コンテンツのレイアウト */
.tab-content-container {
  padding: 3rem 0 6rem 0;
  text-align: left;
}

.tab-content-container ul {
  margin: 0;
  padding: 0 0 0 1.5rem;
}

/* コンテンツのタイポグラフィ */
.tab-content-container h2 {
  font-size: 1.5rem;
  font-weight: var(--text-bold);
  margin-top: 2.5rem;
}

.tab-content-container h3 {
  font-size: 1.2rem;
  font-weight: var(--text-bold);
  margin-top: 1rem;
}

.tab-content-container p {
  font-size: 1.05rem;
  margin-top: 0.3rem;
}

.tab-content-container li {
  font-size: 1.05rem;
  margin-top: 0.3rem;
}
