/* layout */
.form-container {
  width: 68vw;
  height: auto;
  background-color: var(--color-white-primary);
  padding: var(--spacing-300);
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  margin: 0 auto;
}

.form-content {
  width: 100%;
  max-width: 500px;
  background-color: var(--color-white-secondary);
  padding: var(--spacing-200);
  border-radius: var(--border-radius-normal);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* form */
.form-content label {
  font-weight: var(--weight-normal);
  color: var(--color-black-primary);
  display: block;
  margin-bottom: var(--spacing-50);
}

.form-content input[type='text'],
.form-content input[type='email'],
.form-content textarea {
  width: 100%;
  width: calc(100% - 12px);
  background-color: var(--color-white-secondary);
  padding: var(--spacing-50);
  border: 1px solid var(--color-border);
  border-radius: 0.25rem;
  font-size: var(--text-small);
  margin-bottom: var(--spacing-100);
  box-sizing: border-box;
}

.form-content textarea {
  width: 100%;
  min-height: 10rem;
  resize: none;
}

.form-content button[type='submit'] {
  width: 100%;
  padding: 0.75rem 1.5rem;
  background-color: var(--color-black-primary);
  font-size: var(--text-small);
  color: var(--color-white-primary);
  font-weight: var(--weight-normal);
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.form-content button[type='submit']:hover {
  background-color: var(--color-black-secondary);
}
