.hero-title {
  font-size: var(--text-hero);
  font-weight: var(--weight-normal);
  margin-top: 3rem;
}

.hero-desc {
  font-size: var(--text-big);
  margin: 1rem 0;
}

.hero-img {
  width: 100%;
  height: auto;
  border-radius: var(--border-radius-secondary);
  display: block;
  margin-top: 3rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
