.post-list {
  margin: 0;
  padding: 2rem 3rem;
  width: 100%;
  box-sizing: border-box;
}

.post-list h1 {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.post-list-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.post-list-grid-item {
  text-align: left;
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
  margin-bottom: 1rem;
}

.post-list-grid-item a {
  text-decoration: none;
  color: inherit;
}

.post-list-grid-item:hover {
  transform: translateY(-5px);
}

.post-list-grid-img {
  width: 100%;
  height: auto;
  display: block;
  margin-bottom: 1rem;
  border-radius: 0.5rem;
}

.tag {
  background-color: var(--color-tag);
  color: var(--color-black);
  padding: 0.5rem;
  font-size: 0.8rem;
  font-weight: 500;
  border-radius: 0.5rem;
}

.post-list-title {
  font-size: 1.4rem;
  font-weight: bold;
  line-height: normal;
  margin: 0.5rem 0 0.5rem 0;
  text-decoration: none;
  color: #000;
}

.post-list-desc {
  font-size: 0.9rem;
  color: #000;
}

.post-list-grid-item a:hover .post-list-title {
  text-decoration: underline;
}
