.footer {
  width: 100%;
  padding: 2rem 3rem;
  box-sizing: border-box;
  margin: 0;
  background-color: var(--color-bg-primary);
  border-top: 1px solid var(--color-border);
}

.footer-flex {
  width: 100%;
  height: auto;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.footer-item {
  display: flex;
  align-items: center;
}

.footer-item nav {
  padding: 0;
  margin: 0;
}

.footer-menu {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.footer-menu li a {
  text-decoration: none;
  color: var(--color-link);
  font-size: 0.9rem;
  font-weight: 500;
  letter-spacing: 0.01em;
  margin: 0 1rem 0 0;
  display: block;
  transition: 0.3s ease-in-out;
}

.footer-menu li a:hover {
  color: var(--color-link-hover);
}

.social-links {
  display: flex;
  align-items: center;
  text-align: left;
}

.social-link {
  width: 1.5rem;
  height: auto;
  margin: 0 0.5rem;
  transition: opacity 0.1s ease-in-out;
}

.social-link:hover {
  opacity: 0.5;
}

.copyright {
  color: var(--color-copyright);
  font-size: 0.8rem;
  font-weight: 500;
  letter-spacing: 0.01em;
  border-top: 1px solid var(--color-border);
  padding-top: 2rem;
  margin-top: 2rem;
}

@media (max-width: 767px) {
  .footer-flex {
    flex-direction: column;
  }

  .footer-menu {
    flex-direction: column;
  }

  .footer-menu li a {
    font-size: 1rem;
    margin: 0 0 1rem 0;
  }
}
