/* layout */
.header {
  width: 100%;
  background-color: var(--color-white-primary);
  padding: 1rem var(--spacing-sides);
  color: var(--color-black-primary);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  box-sizing: border-box;
  margin-top: 0;
}

/* logo */
.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo a {
  text-decoration: none;
}

.logo-text {
  font-size: 1.6rem;
  color: var(--color-black-primary);
  font-family: 'Lobster', cursive;
  font-weight: var(--weight-normal);
  font-style: italic;
  transform: rotate(-8deg);
}

/* menu */
.nav {
  display: flex;
  align-items: center;
}

.nav-menu {
  background-color: var(--color-white-primary);
  padding: 0;
  margin: 0;
  display: flex;
  list-style: none;
}

.nav-menu li {
  margin-left: var(--spacing-150);
}

.nav-menu li a {
  font-size: var(--text-normal);
  color: var(--color-black-primary);
  font-weight: var(--weight-normal);
  letter-spacing: var(--latter-spacing-normal);
  text-decoration: none;
  transition: all 0.1s ease;
}
.nav-menu li a:hover {
  border-bottom: 1px solid var(--color-black-secondary);
  padding-bottom: 0.5rem;
}

/* toggle */
.toggle-menu {
  width: 40px;
  height: 40px;
  padding: 10px;
  display: none;
  background: none;
  border: none;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.toggle-menu span {
  width: 24px;
  height: 3px;
  background-color: var(--color-black-primary);
  border-radius: 1px;
  display: block;
  transition: all 0.3s ease;
}
