/* about */
.about-content {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.about-item {
  text-align: center;
  padding: 0;
  margin: 0;
}

.about-img {
  width: 20%;
  height: auto;
  border-radius: 50%;
  border: 1px solid var(--color-border);
  margin: 0 auto;
  display: block;
}

/* tabs */
.tabs-container {
  width: 60%;
  padding: 0 0 4rem 0;
  margin: 0 auto;
}

.tabs {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem 0;
  border-bottom: 1px solid var(--color-border);
}

/* tab text */
.tab-link {
  background-color: inherit;
  font-size: var(--font-normal);
  font-weight: var(--weight-bold);
  color: var(--color-tab);
  border: none;
  border-bottom: 2px solid var(--color-bg-primary);
  padding: 1rem;
  cursor: pointer;
  margin: 0 0.6rem;
  transition: all 0.3s ease;
}

.tab-link:hover {
  color: var(--color-tab-active);
}

.tab-link.active {
  background-color: inherit;
  color: var(--color-tab-active);
  border-bottom: 2px solid var(--color-tab-active);
}

.tab-content {
  display: none;
}

.tab-content.active {
  display: block;
}

.tab-content-container {
  padding: var(--space-md);
  text-align: left;
}

.tab-content-container ul {
  margin: 0;
  padding: 0 0 0 1.5rem;
}

/* icon */
.fas {
  font-size: 0.9rem;
  width: 1.5em;
  text-align: center;
  display: inline-block;
}
