.hero-title {
  font-size: 3.5rem;
  font-weight: var(--text-bold);
  margin-top: 3rem;
}

.hero-desc {
  font-size: 1.15rem;
  margin: 1rem 0;
}

.hero-img {
  width: 100%;
  height: auto;
  border-radius: var(--border-radius-secondary);
  display: block;
  margin-top: 3rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
