.services-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
  grid-auto-flow: row dense;
  align-items: start;
}

.services-grid-item {
  padding: 1.5rem;
  text-align: center;
  border-radius: 0.5rem;
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
}

.services-grid-item:hover {
  transform: translateY(-5px);
}

.portfolio-item.hidden {
  display: none;
}

#load-more-button {
  background-color: var(--color-black-primary);
  color: var(--color-white-primary);
  border: none;
  font-size: 1rem;
  padding: 0.8rem 1.5rem;
  border-radius: 0.5rem;
  cursor: pointer;
}
