.services-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
  grid-auto-flow: row dense;
  align-items: start;
}

.services-grid-item {
  padding: 2rem;
  text-align: center;
  border-radius: 0.5rem;
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
  margin-bottom: 2rem;
}

.portfolio-item.hidden {
  display: none;
}

.add-card {
  background-color: var(--color-white-secondary);
  border-radius: var(--border-radius-normal);
  border: 1px solid var(--color-border);
  margin-top: 1rem;
}

.faq-container {
  text-align: center;
  width: 55%;
  margin: 0 auto;
}

.faq-item {
  border-bottom: 1px solid var(--color-border);
  padding: 35px 0;
}

.faq-question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  font-size: 22px;
  font-weight: var(--weight-normal);
}

.faq-answer {
  display: none;
  padding: 20px 0 0 0;
  text-align: left;
  font-size: 16px;
  transition: max-height 0.3s ease-in-out;
  max-height: 0;
  overflow: hidden;
  width: 75%;
}

.faq-answer.open {
  display: block;
  max-height: 200px;
}

.toggle {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  font-size: 28px;
  font-weight: 400;
  transition: transform 0.3s ease;
}

.faq-item.open .toggle {
  transform: rotate(180deg); /* `+` から `×` に回転 */
}

@media (max-width: 600px) {
  .faq-container {
    width: 90%;
  }

  .faq-answer {
    width: 85%;
  }
}
