/* primary */
.btn-primary {
  background-color: var(--color-black-primary);
  padding: 0.7rem 1.4rem;
  border-radius: var(--border-radius-small);
  border: none;
  cursor: pointer;
  transition: transform 0.15s ease, background-color 0.15s ease;
  margin-top: var(--spacing-100);
}

.btn-primary:hover {
  background-color: var(--color-black-secondary);
  transform: scale(1.03);
}

.btn-primary a {
  font-size: var(--text-normal);
  color: var(--color-white-secondary);
  font-weight: var(--weight-normal);
  letter-spacing: var(--letter-spacing-normal);
  text-decoration: none;
}

/* === back-to-top === */
#back-to-top {
  width: 4rem;
  height: 4rem;
  padding: 1rem;
  border-radius: 50%;
  background-color: var(--color-black-primary);
  font-size: var(--text-normal);
  color: var(--color-white-primary);
  line-height: 1;
  display: none;
  text-align: center;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 999;
  border: none;
  outline: none;
  cursor: pointer;
  transition: background-color 0.15s ease;
}

#back-to-top:hover {
  background-color: var(--color-black-secondary);
}
