.recommended {
  padding: var(--space-sides);
  background-color: var(--color-bg-primary);
}

.recommended-section-title {
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
  color: var(--color-black);
  margin-bottom: 1rem;
}

.recommended-item {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  text-align: left;
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
  text-decoration: none;
  color: inherit;
}

.recommended-title,
.recommended-desc {
  text-decoration: none;
  border-bottom: none;
}

.recommended-image {
  width: 100%;
  height: auto;
  display: block;
  margin-bottom: 0;
  border-radius: 0.5rem;
}

.recommended-content {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.recommended-title {
  font-size: var(--font-big);
  font-weight: var(--weight-bold);
  color: var(--color-black);
  margin: 0.5rem 0 0.5rem 0;
}

.recommended-desc {
  font-size: var(--font-small);
  font-weight: var(--weight-normal);
  color: var(--color-desc);
  margin: 0;
  line-height: 1.5;
}

.recommended-tag {
  background-color: var(--color-tag);
  color: var(--color-black);
  padding: 0.5rem;
  font-size: 0.8rem;
  font-weight: 500;
  border-radius: 0.5rem;
}

/* sp */
@media (max-width: 768px) {
  .recommended {
    padding: 2rem 1rem;
  }

  .recommended-title {
    font-size: 1.5rem;
  }

  .recommended-desc {
    font-size: 0.8rem;
  }
}
