.scrollbar {
  display: flex;
  overflow-x: auto;
  gap: 2rem;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
  padding-bottom: 1rem;
  margin-inline: 0;
  padding-inline: 0;
}

.scrollbar > * {
  flex: 0 0 calc((100% - 2rem - 2rem) / 3); /* gapとpadding考慮して3件表示 */
  scroll-snap-align: start;
  scroll-snap-stop: always;
}

/* スクロールバー */
.scrollbar::-webkit-scrollbar {
  height: 8px;
}

.scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.scrollbar::-webkit-scrollbar-thumb {
  background: #505050;
  border-radius: 4px;
}

@media (max-width: 768px) {
  .scrollbar > * {
    flex: 0 0 80%;
  }
}
