---
layout: layouts/base.njk
title: per-pj - ポートフォリオ
meta_description: per-pj のポートフォリオサイトの作品一覧ページです。
---

{% block content %}
  <div class="posts-layout">
    <h1 class="posts-layout-section-title">ポートフォリオ</h1>
    <div class="posts-layout-grid" id="portfolio-grid">
      {% for item in collections.works %}
        <div class="posts-layout-grid-item  portfolio-item">
          <a href="{{ item.url | url }}">
            <img src="{{ item.data.thumbnail | url }}" alt="{{ item.data.title }}" class="posts-layout-grid-img" />
            
            <!--<div class="posts-layout-tags">
              {% for tag in item.data.tags %}
                {% if tag != "work" %}
                  <span class="tag">{{ tag }}</span>
                {% endif %}
              {% endfor %}
            </div>-->

            <h2 class="posts-layout-title">{{ item.data.title }}</h2>
            <p class="posts-layout-desc">{{ item.data.description }}</p>
          </a>
        </div>
      {% else %}
        <p>作品がひとつも見つかりませんでした。</p>
      {% endfor %}
    </div>

    {% if collections.works.length > 6 %}
      <button id="load-more-button" style="display: block; margin: 20px auto;">もっと見る</button>
    {% endif %}

  </div>
{% endblock %}
