---
layout: layouts/base.njk
title: per-pj - ポートフォリオ
meta_description: per-pj のポートフォリオサイトの作品一覧ページです。
---

{% block content %}
  <div class="post-list">
    <h1>プロジェクト</h1>
    <div class="post-list-grid" id="portfolio-grid">
      {% for item in collections.works %}
        <div class="post-list-grid-item  portfolio-item">
          <a href="{{ item.url | url }}">
            <img src="{{ item.data.thumbnail | url }}" alt="{{ item.data.title }}" class="post-list-grid-img" />
            
            <div class="post-list-tags">
              {% for tag in item.data.tags %}
                {% if tag != "work" %}
                  <span class="tag">{{ tag }}</span>
                {% endif %}
              {% endfor %}
            </div>

            <h2 class="post-list-title">{{ item.data.title }}</h2>
            <p class="post-list-desc">{{ item.data.description }}</p>
          </a>
        </div>
      {% else %}
        <p>作品がひとつも見つかりませんでした。</p>
      {% endfor %}
    </div>

    {% if collections.works.length > 6 %}
      <button id="load-more-button" style="display: block; margin: 20px auto;">+</button> {# 簡単なスタイル例 #}
    {% endif %}

  </div>
{% endblock %}
