---
layout: layouts/base.njk
title: per-pj - 私について
meta_description: per-pj のポートフォリオサイトのプロフィールページです。
---

<section class="about-container">
  <div class="about-content">
    <div class="about-item">
      <img src="{{ '/assets/img/profile.jpg' | url }}" alt="プロフィール画像" class="about-img" />
    </div>
    <div class="about-item">
      <h2 class="about-title">per-pj</h2>
      <p class="about-desc">東京を拠点にプロダクトデザイナーとして働いています。</p>
      <button class="btn-primary" style="margin: 1rem 0 0 0">
        <a href="{{ '/contact/' | url }}"
          >メッセージ</a>
      </button>
    </div>
  </div>
</section>

<section class="tabs-container">
  <div class="tabs">
    <button class="tab-link active" data-tab="history">略歴</button>
    <button class="tab-link" data-tab="skills">スキル</button>
    <button class="tab-link" data-tab="tools">ツール</button>
  </div>
  <div class="tab-content active" id="history">
    <div class="tab-content-container">
     {{ "about/history.md" | mdFile | safe }}
    </div>
  </div>
  <div class="tab-content" id="skills">
    <div class="tab-content-container">
     {{ "about/skills.md"  | mdFile | safe }}
    </div>
  </div>
  <div class="tab-content" id="tools">
    <div class="tab-content-container">
     {{ "about/tools.md"   | mdFile | safe }}
    </div>
  </div>
</section>

<section class="banner-container">
  <div class="banner">
    <a href="{{ '/services/' | url }}">現在、フリーランス・フルタイムに対応可能です🎉 一緒に働きませんか？</a>
  </div>
</section>
