/* body */
body {
  margin: 0;
  padding: 70px var(--sides-space) 0 var(--sides-space);
  font-family: 'Open Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Oxygen, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  background-color: #fff;
  font-size: 1rem;
  color: #000;
  font-weight: 400;
  letter-spacing: -0.01rem;
  line-height: 1.5;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* root */
:root {
  --sides-space: 2.5rem;
  --sides-space-small: 1rem;
  --bg-color: #fff;
  --text-color: #000;
}
