/* top */
.top-title {
  font-size: 3rem;
  font-weight: 700;
  letter-spacing: 0.02em;
  margin-bottom: 0.5rem;
}

.top-desc {
  font-size: 1rem;
  letter-spacing: 0.03em;
  line-height: 1.7;
}

/* about */
.about-title {
  font-size: 3rem;
  font-weight: 700;
  letter-spacing: 0.02em;
  margin-bottom: 0.5rem;
}

.about-desc {
  font-size: 1rem;
  letter-spacing: 0.03em;
  line-height: 1.7;
}

.tab-content-container h4 {
  font-size: 1.5rem;
  font-weight: 600;
  letter-spacing: 0.01em;
  margin: 3.5rem 0 0.5rem 0;
}

.tab-content-container p {
  font-size: 1.1rem;
  font-weight: 400;
  letter-spacing: -0.005em;
  line-height: 2;
  margin-bottom: 0.5rem;
}

/* services */
.hero-title {
  font-size: 3rem;
  font-weight: 600;
  letter-spacing: 0.02em;
  margin-bottom: 0.5rem;
}

.hero-desc {
  font-size: 1rem;
  color: #333;
  letter-spacing: 0.03em;
  line-height: 1.7;
  margin-bottom: 1.5rem;
}

.services-title {
  font-size: 2rem;
  font-weight: 600;
  letter-spacing: 0.02em;
  margin-bottom: 0.5rem;
}

.services-desc {
  font-size: 1rem;
  color: #333;
  letter-spacing: 0.03em;
  line-height: 1.7;
  margin-bottom: 1.5rem;
}

.services-grid-item h3 {
  font-size: 1.5rem;
  font-weight: 600;
  letter-spacing: 0.02em;
  margin-bottom: 0.5rem;
}

.services-grid-item p {
  font-size: 0.9rem;
  letter-spacing: 0.05em;
  line-height: 1.7;
}

.contact-title {
  font-size: 2rem;
  font-weight: 600;
  letter-spacing: 0.01em;
  margin-bottom: 1rem;
}

.contact-desc {
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 0.05em;
  line-height: 1.7;
  margin-bottom: 2rem;
}
