/* === hero === */
.btn-primary {
  background-color: #000;
  padding: 1rem;
  border-radius: 0.5rem;
  border: none;
  cursor: pointer;
  transition: transform 0.1s ease, background 0.15s;
}

.btn-primary:hover {
  background-color: #222;
  transform: scale(1.05);
}

.btn-primary a {
  text-decoration: none;
  color: #fff;
  font-size: 1rem;
  letter-spacing: 0.03em;
}

/* === hero === */
.hero-btn {
  background-color: #000;
  padding: 1rem;
  border-radius: 0.5rem;
  border: none;
  cursor: pointer;
  transition: transform 0.1s ease, background 0.15s;
}

.hero-btn:hover {
  background-color: #222;
  transform: scale(1.05);
}

.hero-btn a {
  text-decoration: none;
  color: #fff;
  font-size: 1rem;
  letter-spacing: 0.03em;
}

/* === about === */
.message-btn {
  background-color: #000;
  padding: 1rem;
  border-radius: 0.5rem;
  border: none;
  cursor: pointer;
  transition: transform 0.1s ease, background 0.15s;
}

.message-btn:hover {
  background-color: #222;
  transform: scale(1.05);
}

.message-btn a {
  text-decoration: none;
  color: #fff;
  font-size: 1rem;
  letter-spacing: 0.03em;
}

/* === secondary === */
.btn-secondary {
  background-color: #fff;
  padding: 1rem;
  border: 1px solid #000;
  border-radius: 0.5rem;
  border: none;
  cursor: pointer;
  transition: transform 0.1s ease, background 0.15s;
}

.btn-secondary:hover {
  background-color: #222;
  color: #fff;
  transform: scale(1.05);
}

.btn-secondary a {
  text-decoration: none;
  color: #000;
  font-size: 1rem;
  letter-spacing: 0.03em;
}

/* === btt === */
#back-to-top {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 999;
  border: none;
  outline: none;
  background-color: #000;
  color: white;
  cursor: pointer;
  padding: 1rem;
  border-radius: 50%;
  font-size: 1rem;
  line-height: 1;
  width: 4rem;
  height: 4rem;
  text-align: center;
}

#back-to-top:hover {
  background-color: #222;
}
