/* レイアウト */
.footer {
  width: 100%;
  padding: var(--spacing-sides);
  background-color: var(--color-black);
  margin: 0;
  box-sizing: border-box;
}

.footer-flex {
  width: 100%;
  height: auto;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.footer-item {
  display: flex;
  align-items: center;
}

/* メニュー */
.footer-item nav {
  padding: 0;
  margin: 0;
}

.footer-menu {
  width: 100%;
  height: auto;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
  list-style-type: none;
}

.footer-menu li a {
  text-decoration: none;
  font-size: 0.9rem;
  color: var(--color-white);
  margin: 0 1rem 0 0;
  display: block;
  transition: 0.1s ease-in-out;
}

.footer-menu li a:hover {
  color: var(--color-white);
}

.social-links {
  display: flex;
  align-items: center;
  text-align: left;
}

.social-link {
  width: 1.5rem;
  height: auto;
  margin: 0 0.5rem;
  transition: opacity 0.1s ease-in-out;
  background-color: var(--color-white);
  padding: 10px;
  border-radius: 50%;
}

.social-link:hover {
  opacity: 0.5;
}

.copyright {
  font-size: 0.8rem;
  color: var(--color-white);
  padding-top: 2rem;
  border-top: 1px solid var(--color-white);
  margin-top: 2rem;
}

/* レスポンシブ対応 */
@media (max-width: 767px) {
  .footer-flex {
    flex-direction: column;
  }

  .footer-menu {
    flex-direction: column;
  }

  .footer-menu li a {
    margin: 0 0 1rem 0;
  }
}
