.posts-layout {
  width: 100%;
  padding: var(--spacing-sides);
  box-sizing: border-box;
  margin: 0;
}

.posts-layout-section-title {
  font-size: var(--title-h2);
  color: var(--color-black-primary);
  font-weight: var(--weight-normal);
  letter-spacing: var(--letter-spacing-title);
  margin-bottom: var(--spacing-100);
}

.posts-layout-title {
  font-size: var(--title-h4);
  font-weight: var(--weight-normal);
  color: var(--color-black-primary);
  line-height: normal;
  margin: 0.6rem 0 0.5rem 0;
  text-decoration: none;
}

.posts-layout-desc {
  font-size: var(--text-small);
  color: var(--color-black-secondary);
  font-weight: var(--weight-normal);
}

.posts-layout-grid-item a:hover .posts-layout-title {
  text-decoration: underline;
}

.posts-layout-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  grid-auto-flow: row dense;
  align-items: start;
}

.posts-layout-grid-item {
  text-align: left;
  overflow: hidden;
  align-self: start;
  background-color: var(--color-white-secondary);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: var(--border-radius-normal);
  padding: 1rem 1rem 2rem 1rem;
  transition: transform 0.3s ease-in-out;
  margin-bottom: 4rem;
}

.posts-layout-grid-item a {
  text-decoration: none;
  color: inherit;
}

.posts-layout-grid-item:hover {
  transform: translateY(-5px);
}

.posts-layout-grid-img {
  width: 100%;
  height: auto;
  display: block;
  margin-bottom: 1rem;
  border-radius: var(--border-radius-normal);
}

.posts-layout-tags {
  display: flex;
  flex-wrap: wrap;
  gap: 0.3rem;
}

.tag {
  background-color: var(--color-tag-primary);
  color: var(--color-black-primary);
  padding: 0.3rem 0.7rem;
  font-size: var(--text-xSmall);
  font-weight: 400;
  letter-spacing: 1px;
  border-radius: 30px;
  display: inline-block;
}

/* ページネーション */
.posts-layout-grid-item.hidden {
  display: none;
}

.pagination {
  margin: 4rem 0 2rem 0;
  text-align: center;
}

.pagination ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: inline-block;
}

.pagination li {
  display: inline-block;
  margin: 0 0.3rem;
}

.pagination a {
  text-decoration: none;
  background-color: var(--color-white-secondary);
  padding: 10px 15px;
  border: 1px solid var(--color-border);
  color: var(--color-black-primary);
  border-radius: 4px;
  cursor: pointer;
}

.pagination a:hover {
  background-color: var(--color-white-secondary);
  color: var(--color-black-primary);
  border: 1px solid var(--color-border);
}

.pagination a.active {
  background-color: var(--color-black-primary);
  border: 1px solid var(--color-border);
  color: var(--color-white-primary);
  pointer-events: none;
  cursor: default;
}

.pagination li.disabled span {
  background-color: var(--color-white-secondary);
  padding: 5px 10px;
  border: 1px solid var(--color-border);
  border-radius: 3px;
}
