.posts-layout {
  margin: 0;
  padding: var(--space-lg);
  width: 100%;
  box-sizing: border-box;
}

.posts-layout-section-title {
  font-size: var(--title-md);
  font-weight: var(--weight-bold);
  margin-bottom: 1rem;
  letter-spacing: -0.02em;
}

.posts-layout-title {
  font-size: var(--title-sm);
  font-weight: var(--weight-bold);
  color: var(--color-black);
  line-height: normal;
  margin: 0.6rem 0 0.5rem 0;
  text-decoration: none;
}

.posts-layout-desc {
  font-size: var(--font-small);
  font-weight: var(--weight-normal);
  color: var(--color-desc);
}

.posts-layout-grid-item a:hover .posts-layout-title {
  text-decoration: underline;
}

.posts-layout-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  grid-auto-flow: row dense;
  align-items: start;
}

.posts-layout-grid-item {
  text-align: left;
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
  align-self: start;
  margin-bottom: 1rem;
}

.posts-layout-grid-item a {
  text-decoration: none;
  color: inherit;
}

.posts-layout-grid-item:hover {
  transform: translateY(-5px);
}

.posts-layout-grid-img {
  width: 100%;
  height: auto;
  display: block;
  margin-bottom: 1rem;
  border-radius: 0.5rem;
}

.posts-layout-tags {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.tag {
  background-color: var(--color-tag);
  color: var(--color-black);
  padding: 0.3rem 0.5rem;
  font-size: 0.8rem;
  font-weight: 400;
  border-radius: 0.5rem;
}

/* ページネーション */
.posts-layout-grid-item.hidden {
  display: none;
}

.pagination {
  margin: 4rem 0 2rem 0;
  text-align: center;
}

.pagination ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: inline-block;
}

.pagination li {
  display: inline-block;
  margin: 0 0.3rem;
}

.pagination a {
  text-decoration: none;
  padding: 10px 15px;
  border: 1px solid var(--color-border);
  color: var(--color-black);
  border-radius: 4px;
  cursor: pointer;
}

.pagination a:hover {
  background-color: var(--color-btn-bg-hover);
  color: var(--color-btn-text);
  border: 1px solid var(--color-btn-bg-hover);
}

.pagination a.active {
  background-color: var(--color-btn-bg);
  border: 1px solid var(--color-btn-bg);
  color: var(--color-btn-text);
  pointer-events: none;
  cursor: default;
}

.pagination li.disabled span {
  color: #ccc;
  padding: 5px 10px;
  border: 1px solid #eee;
  border-radius: 3px;
}
