/* layout */
.post-detail-hero-container {
  width: 100%;
  height: auto;
  background-color: var(--color-white-primary);
  padding: 4rem 3rem 4rem 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.post-detail-hero-content {
  width: 80%;
  padding: 0;
  margin: 0;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  box-sizing: border-box;
}

/* tag */
.post-detail-hero-tags {
  margin-top: 0;
}

.tag-large {
  background-color: var(--color-tag-primary);
  padding: 0.5rem 0.8rem;
  border-radius: var(--border-radius-large);
  font-size: var(--text-big);
  color: var(--color-black-primary);
  font-weight: var(--weight-normal);
  margin: 0 0.5rem;
  display: inline-block;
}

/* text */
.post-detail-hero-title {
  font-size: var(--title-h1);
  color: var(--color-black-primary);
  font-weight: var(--weight-normal);
  letter-spacing: var(--letter-spacing-tight);
  margin-top: var(--spacing-100);
}

.post-detail-hero-desc {
  font-size: var(--font-normal);
  color: var(--color-black-primary);
  font-weight: var(--weight-normal);
  letter-spacing: var(--letter-spacing-normal);
  margin-top: var(--spacing-100);
}

.post-detail-hero-img {
  width: 100%;
  height: auto;
  border-radius: var(--border-radius-normal);
  display: block;
  margin-top: var(--spacing-200);
}

.post-detail-content-container {
  width: 90%;
  padding: 2rem 0 6rem 0;
  box-sizing: border-box;
  margin: 0 auto;
}

.post-detail-content {
  width: 68%;
  padding: 0;
  margin: 0 auto;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  text-align: left;
  box-sizing: border-box;
}

/* text */
.post-detail-content h1 {
  font-size: var(--title-h2);
  font-weight: var(--weight-normal);
  color: var(--color-black-primary);
  letter-spacing: var(--letter-spacing-tight);
  line-height: normal;
  margin: 1rem 0;
}
.post-detail-content h2 {
  font-size: var(--title-h3);
  font-weight: var(--weight-normal);
  color: var(--color-black-primary);
  letter-spacing: var(--letter-spacing-tight);
  line-height: normal;
  margin: 0.5rem 0;
}
.post-detail-content h3 {
  font-size: var(--title-h4);
  font-weight: var(--weight-normal);
  color: var(--color-black-primary);
  letter-spacing: var(--letter-spacing-tight);
  line-height: normal;
  margin: 0.5rem 0;
}
.post-detail-content p {
  font-size: var(--text-big);
  font-weight: var(--weight-normal);
  color: var(--color-black-primary);
  letter-spacing: var(--letter-spacing-normal);
  line-height: normal;
  margin: 0.5rem 0;
}

.post-detail-content img {
  width: 100%;
  height: auto;
  border-radius: var(--border-radius-normal);
  margin: 2rem 0;
}

.post-detail-content ul {
  font-size: var(--text-big);
  font-weight: var(--weight-normal);
  color: var(--color-black-primary);
  letter-spacing: var(--letter-spacing-normal);
  line-height: normal;
  margin: 1rem 0 1rem 0;
  padding: 0 0 0 2rem;
  margin: 0.5rem 0;
}

/* responsive リファクタリング対象 */
@media (max-width: 768px) {
  .post-detail-hero-container {
    padding: 4rem 1rem;
  }
  .post-detail-hero-content {
    width: 100%;
  }
  .post-detail-content {
    width: 100%;
  }
  .post-detail-content h1 {
    font-size: 1.5rem;
  }
  .post-detail-content h2 {
    font-size: 1.2rem;
  }
  .post-detail-content h3 {
    font-size: 1rem;
  }
  .post-detail-content p {
    font-size: 0.9rem;
  }
  .post-detail-content ul {
    font-size: 0.9rem;
  }
  .post-detail-content img {
    width: 100%;
    height: auto;
    border-radius: 0.5rem;
    margin: 2rem 0;
  }
  .post-detail-hero-img {
    width: 100%;
    height: auto;
    border-radius: 0.5rem;
    display: block;
    margin-top: 2rem;
  }
  .post-detail-hero-title {
    font-size: 2rem;
    font-weight: 700;
    color: #000;
    margin-top: 1rem;
  }
  .post-detail-hero-desc {
    font-size: 1rem;
    font-weight: 500;
    color: #000;
    margin-top: 1rem;
  }
  .post-detail-hero-tags {
    margin-top: 0;
  }
  .tag-large {
    font-size: 0.8rem;
    font-weight: 500;
    color: var(--color-black);
    background-color: var(--color-tag);
    padding: 0.5rem 0.8rem;
    border-radius: 0.5rem;
    margin: 0 0.5rem;
    display: inline-block;
  }
  .post-detail-hero-title {
    font-size: 2rem;
    font-weight: 700;
    color: #000;
    margin-top: 1rem;
  }
  .post-detail-hero-desc {
    font-size: 1rem;
    font-weight: 500;
    color: #000;
    margin-top: 1rem;
  }
  .post-detail-hero-img {
    width: 100%;
    height: auto;
    border-radius: 0.5rem;
    display: block;
    margin-top: 2rem;
  }
  .post-detail-content-container {
    width: 100%;
    padding: 2rem 1rem;
    box-sizing: border-box;
    margin: 0 auto;
  }
  .post-detail-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    text-align: left;
    padding: 0;
    margin: 0 auto;
    border-radius: 0.5rem;
    width: 100%;
    box-sizing: border-box;
  }
}
